.is-clickable {
    cursor: pointer;
}

.is-divider,
.is-divider-vertical {
    display: block;
    position: relative;
    border-top: 0.1rem solid #dbdbdb;
    height: 0.1rem;
    margin: 1.5rem 0;
    text-align: center;
}

.is-divider-small {
    margin: 1rem 0;
}

.is-not-decorated {
    text-decoration: none !important;
}

.has-overflow-visible {
    overflow: visible;
}

.has-cursor-auto {
    cursor: auto;
}

.has-text-underline {
    text-decoration: underline;
}

.ProseMirror,
.ProseMirror-focused {
    outline: none;
}

.dropdown-content-fixed {
    overflow-y: auto;
    max-height: 253px;
}

.dropdown-content-fixed::-webkit-scrollbar,
.activity-list::-webkit-scrollbar,
.tags-list::-webkit-scrollbar {
    width: 5px;
}

.dropdown-content-fixed::-webkit-scrollbar-track,
.activity-list::-webkit-scrollbar-track,
.tags-list::-webkit-scrollbar-track {
    background: #e8efe8;
    border-radius: 10px;
}

.dropdown-content-fixed::-webkit-scrollbar-thumb,
.activity-list::-webkit-scrollbar-thumb,
.tags-list::-webkit-scrollbar-thumb {
    background: #bdc1c6;
    border-radius: 10px;
}

.has-text-hidden {
    overflow: hidden;
    max-height: 6rem;
    position: relative;
}

.has-text-hidden:after {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    content: "";
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 80%
    );
    pointer-events: none;
    left: 0;
    right: 0;
}

.tags-panel-block {
    border-bottom: none !important;
}
